h1, h4{
    text-align: center;
}
.bordermd{
    border-bottom: 1px solid #666;
    margin: 10px 0 10px;
}
.userinput{
    margin-top: 20px;
}
.passinput{
    margin-bottom: 20px;
}
.recoverypass{
    color: #fff;
}
.btnlogin{
    margin-top: 20px;
}
.logologin{
    width: 20%;
    display: block;
    margin: auto;
    margin-top: 20px;
}