<ion-app>
  <ion-split-pane>
    <ion-menu>
      <div class="spacer">
        <div class="image">
          <img src="/assets/img/avatar-default-icon.png" class="avatar">
        </div>
        <div class="name">
          Jonathan Narvaez
        </div>
      </div>
      <ion-content >

        <!--lista 1 de menu-->
        <ion-list>
          <ion-list-header>
            Mi Cuenta
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appAcount">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!--fin de lista 1 de menu-->
        
        <!--lista 2 de menu-->
        <ion-list>
          <ion-list-header>
            Global Truck
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appGlobal">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!--fin de lista 2 de menu-->

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
