<ion-app>
  <ion-split-pane>
    <ion-menu>
      <div class="spacer">
        <div class="image">
          <img src="/assets/img/avatar-default-icon.png" class="avatar">
        </div>
        <div class="name">
          <!-- debe mostrar el nombre de usuario al iniciar sesion -->
          <ng-container *ngIf="token | async as authData">
            <!-- {{ authData?.data.name }}  -->
            {{ authData?.data.name }}
          </ng-container>
          <div *ngIf="session == false">
            <ion-menu-toggle class="login" (click)="login()" auto-hide="false"><u>Iniciar sesión</u></ion-menu-toggle>
          </div>

        </div>
      </div>
      <ion-content color="dark">
        <ion-menu-toggle auto-hide="false">
          <!--lista 1 de menu-->
          <ion-item color="dark">Mi Cuenta</ion-item>
          <div class="menu" *ngFor="let p of appAcount">
            <ion-item color="dark" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
              {{p.title}}
            </ion-item>
          </div>
          <!--fin de lista 1 de menu-->
        
          <!--lista 2 de menu-->
          <ion-item color="dark">Global Truck</ion-item>
          <div class="submenu" *ngFor="let p of appGlobal">
            <ion-item color="dark" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
              {{p.title}}
            </ion-item>
          </div>
          <!--fin de lista 2 de menu-->
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
