<!--header-->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <img src="/assets/img/logo.png" style="width: 8%;">
          <span>Global Truck</span>
      </ion-title>
  </ion-toolbar>
</ion-header>
<!--fin del header-->

<ion-content color="dark" padding>

  <!--imagen de producto-->
  <ion-card >
    <ion-img src="https://globaltruck.cl/{{ content?.rutaImagen }}"></ion-img>
    <ion-card-title padding>{{ content?.nombre }}</ion-card-title>
    <ion-card-title class="start-title" padding>
      <ion-icon class="star" name="star" *ngFor="let start of [1,2,3,4,5]"></ion-icon>
    </ion-card-title>
    <ion-card-subtitle class="precio-descuento" padding style="color:#fff;">$ {{ content?.precio }} + IVA</ion-card-subtitle>
    <label padding class="price-after">Antes</label>
    <ion-card-subtitle class="precio-sindescuento" padding><del>$ {{ content?.precioDescuento }}</del></ion-card-subtitle>
  </ion-card>
  <!--fin de imagen de producto-->
  <section padding>
    <ion-button expand="block" color="primary">Comprar Ahora</ion-button>
    <ion-button expand="block" color="light">Agregar al carrito de compras</ion-button>
    <ion-button expand="block" color="light" (click)="addfavorito()"> Marcar como favorito</ion-button>
  </section>
  <!--card descripcion-->
  <label color="dark">Acerca del producto</label>
  <ion-card >
    <ion-card-content [innerHTML]="content?.Descripcion" >
        {{ content?.Descripcion }}
    </ion-card-content>
  </ion-card>
  <!--fin card descripcion-->
 

  
  <!--Card de Direccion-->
  <ion-card>
    <ion-item color="dark">
      <ion-icon name="pin" slot="start" color="light"></ion-icon>
      <ion-label>Dirección</ion-label>
    </ion-item>
  
    <ion-card-content>
      {{config?.direccion_1}}
    </ion-card-content>
  </ion-card>
    <!--Fin de Card de Direccion-->
    
</ion-content>
