<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <img src="/assets/img/logo.png" style="width: 8%;">
        <span> Global Truck | Mi cuenta</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="section-avatar sombra-card" *ngIf="session == false" style="height: auto !important;padding-bottom: 20px !important;">
    <div class="display-avatar">
      <ion-img src="/assets/img/avatar-default-icon.png" class="avatarimg" ></ion-img>
    </div>
    <p class="name-account">No has iniciado sesión</p>
    <ion-button style="margin: auto;display: block; width: 50%;" [routerLink]="['/','login']">Iniciar sesión</ion-button>
  </div>

  <div class="section-avatar sombra-card" *ngIf="session">
    <div class="display-avatar">
      <ion-img src="/assets/img/avatar-default-icon.png" class="avatarimg" ></ion-img>
    </div>
    <p class="name-account">Jonathan aa <ion-icon class="star" name="star"></ion-icon></p>
  </div>

  <div class="opcion-acount sombra-card" *ngIf="session">
    <div class="menu">
      <li class="item" id="account">
        <a href="account#account" class="btn">Mi Cuenta</a>
        <div class="smenu">
          <div class="smenu-item">
            <span class="data-d">Nombres:</span> {{ data?.name }}
          </div>
          <div class="smenu-item">
            <span class="data-d">Apellidos:</span> {{ data?.lastname }} 
          </div>
          <div class="smenu-item">
            <span class="data-d">Cuenta:</span> {{ data?.username }}
          </div>
          <div class="smenu-item">
            <span class="data-d">Contraseña:</span> ******
          </div>
          <div class="smenu-item">
            <span class="data-d">Correo:</span> {{ data?.email }}
          </div>
          <div class="smenu-item">
            <span class="data-d">Telefono:</span> {{ data?.telefono }}
          </div>
        </div>
      </li>

      <li class="item" id="direccion">
        <a href="account#direccion" class="btn">Dirección de envio</a>
        <div class="smenu">
          <div class="smenu-item">
            <span class="data-d">Pais:</span> {{ data?.pais }}
          </div>
          <div class="smenu-item">
            <span class="data-d">Ciudad:</span> {{ data?.departamento }}
          </div>
          <div class="smenu-item">
            <span class="data-d">Dirección:</span> {{ data?.direccion }}
          </div>
        </div>
      </li>

      <li class="item" id="historia">
        <a href="account#historia" class="btn">Historial de compras</a>
        <div class="smenu">
          <div class="smenu-item">
            <span class="data-d">Producto de ejemplo</span> $150.00
          </div>
          <div class="smenu-item">
            <span class="data-d">Producto de ejemplo</span> $150.00
          </div>
          <div class="smenu-item">
            <span class="data-d">Producto de ejemplo</span> $150.00
          </div>
        </div>
      </li>

    </div>
  </div>

</ion-content>
