<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <img src="/assets/img/logo.png" style="width: 8%;">
        <span> Global Truck</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="section-avatar sombra-card">
    <div class="display-avatar">
      <ion-img src="/assets/img/avatar-default-icon.png" class="avatarimg" ></ion-img>
    </div>
    <p class="name-account">Jonathan Narvaez <ion-icon class="star" name="star"></ion-icon></p>
  </div>

  <div class="opcion-acount sombra-card">
    <div class="menu">
      <li class="item" id="account">
        <a href="account#account" class="btn">Mi Cuenta</a>
        <div class="smenu">
          <div class="smenu-item">
            <span class="data-d">Nombres:</span> Jonathan Sergio
          </div>
          <div class="smenu-item">
            <span class="data-d">Apellidos:</span> Narvaez Cuenca
          </div>
          <div class="smenu-item">
            <span class="data-d">Cuenta:</span> jonaser01
          </div>
          <div class="smenu-item">
            <span class="data-d">Contraseña:</span> ******
          </div>
          <div class="smenu-item">
            <span class="data-d">Correo:</span> jonaser01@gmail.com
          </div>
          <div class="smenu-item">
            <span class="data-d">Telefono:</span> 93514227
          </div>
        </div>
      </li>

      <li class="item" id="direccion">
        <a href="account#direccion" class="btn">Dirección de envio</a>
        <div class="smenu">
          <div class="smenu-item">
            <span class="data-d">Pais:</span> Perú
          </div>
          <div class="smenu-item">
            <span class="data-d">Ciudad:</span> Lima
          </div>
          <div class="smenu-item">
            <span class="data-d">Dirección:</span> San Juan de Miraflores
          </div>
        </div>
      </li>

      <li class="item" id="historia">
        <a href="account#historia" class="btn">Historial de compras</a>
        <div class="smenu">
          <div class="smenu-item">
            <span class="data-d">Producto de ejemplo</span> $150.00
          </div>
          <div class="smenu-item">
            <span class="data-d">Producto de ejemplo</span> $150.00
          </div>
          <div class="smenu-item">
            <span class="data-d">Producto de ejemplo</span> $150.00
          </div>
        </div>
      </li>

    </div>
  </div>

</ion-content>
